@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Fredoka+One&family=Space+Mono&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    }
    ul {
        list-style-type: none;
    }
    img {
    max-width: 100%;
    }
    .container-header{
        display: flex;
        height: 90px;
       
    }
    .row-header{
        display: flex;
        gap: 25px;
        padding: 25px;
        align-items: center;
        font-family: Almarai;
       }
   .bg-text{
    background-color: #0061FF;
    height: 30px;
    width: 50px;
    align-items: center;    
    display: flex;
    justify-content: center;
    color: white;
   }