@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Fredoka+One&family=Space+Mono&display=swap');
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Almarai;
    }
    ul {
        list-style-type: none;
    }
    img {
    max-width: 100%;
    }
    .container-header{
        display: flex;
        height: 80px;
        justify-content: space-between;
    }
    .row-header{
        display: flex;
        gap: 25px;
        padding: 25px ;
        align-items: center;        
       }
       a{
        text-decoration: none;
        color: currentColor;
       }
   .bg-text{
    background-color: #0061FF;
    height: 30px;
    width: 50px;
    align-items: center;    
    display: flex;
    justify-content: center;
    color: white;
    line-height: 30px;
   }

   .container-main{
    max-width: 700px;
    margin: 0 auto;
}
.section-hero{
    background-color: #B4D0E7;
}
.row-h1{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}
img{
    max-width: 100%;
}
.col-h1{
    flex-basis: 100%;
}
.col-main-image{
    flex-basis: 70%;
}
.col-main-2{
    display: flex;
    flex-basis: 30%;
}
.col-main-image img{
    width: 400px;
}
.row-main-2{
    display: flex;
}
.text-h1{
    font-size: 50px;
}